In [1]:
HOST_NAME = 'localhost'
PORT = '5432'
DB_NAME = 'test'
USER = 'test'
PASSWORD = 'test'

In [18]:
import sys, importlib

lib_path = "/dbfs/lib"

if lib_path not in sys.path:
  # Add /dbfs/lib to python source search path
    sys.path.insert(0, lib_path)
    
if 'dbutils' not in sys.modules:
    import dbutils
else:
    # Reload module
    importlib.reload(dbutils)

print('Loaded dbutils at ' + dbutils.__file__)
conn_params = \
{'host': HOST_NAME,
'port': '5432',
'dbname': DB_NAME,
'user': USER,
'password': PASSWORD}

Loaded dbutils at /dbfs/lib/dbutils.py

In [19]:
dbutils.db_query_as_df(conn_params, 'select * from information_schema.tables', [])

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,minestar,public,geography_columns,VIEW,None,None,None,None,None,NO,NO,None
1,minestar,public,geometry_columns,VIEW,None,None,None,None,None,YES,NO,None
2,minestar,public,spatial_ref_sys,BASE TABLE,None,None,None,None,None,YES,NO,None
3,minestar,model,shift_template,BASE TABLE,None,None,None,None,None,YES,NO,None
4,minestar,public,raster_columns,VIEW,None,None,None,None,None,NO,NO,None
5,minestar,public,raster_overviews,VIEW,None,None,None,None,None,NO,NO,None
6,minestar,model,shift_pattern,BASE TABLE,None,None,None,None,None,YES,NO,None
7,minestar,pg_catalog,pg_statistic,BASE TABLE,None,None,None,None,None,YES,NO,None
8,minestar,pg_catalog,pg_type,BASE TABLE,None,None,None,None,None,YES,NO,None
9,minestar,public,databasechangelog,BASE TABLE,None,None,None,None,None,YES,NO,None
10,minestar,public,databasechangeloglock,BASE TABLE,None,None,None,None,None,YES,NO,None
11,minestar,pg_catalog,pg_authid,BASE TABLE,None,None,None,None,None,YES,NO,None
12,minestar,pg_catalog,pg_roles,VIEW,None,None,None,None,None,NO,NO,None
13,minestar,pg_catalog,pg_shadow,VIEW,None,None,None,None,None,NO,NO,None
14,minestar,pg_catalog,pg_group,VIEW,None,None,None,None,None,YES,NO,None
15,minestar,pg_catalog,pg_user,VIEW,None,None,None,None,None,NO,NO,None
16,minestar,model,audit,BASE TABLE,None,None,None,None,None,YES,NO,None
17,minestar,model,configuration,BASE TABLE,None,None,None,None,None,YES,NO,None
18,minestar,pg_catalog,pg_policies,VIEW,None,None,None,None,None,NO,NO,None
19,minestar,pg_catalog,pg_settings,VIEW,None,None,None,None,None,NO,NO,None
20,minestar,pg_catalog,pg_rules,VIEW,None,None,None,None,None,NO,NO,None
21,minestar,pg_catalog,pg_file_settings,VIEW,None,None,None,None,None,NO,NO,None
22,minestar,pg_catalog,pg_views,VIEW,None,None,None,None,None,NO,NO,None
23,minestar,pg_catalog,pg_tables,VIEW,None,None,None,None,None,NO,NO,None
24,minestar,pg_catalog,pg_matviews,VIEW,None,None,None,None,None,NO,NO,None
25,minestar,pg_catalog,pg_indexes,VIEW,None,None,None,None,None,NO,NO,None
26,minestar,pg_catalog,pg_stats,VIEW,None,None,None,None,None,NO,NO,None
27,minestar,pg_catalog,pg_locks,VIEW,None,None,None,None,None,NO,NO,None
28,minestar,pg_catalog,pg_cursors,VIEW,None,None,None,None,None,NO,NO,None
29,minestar,pg_catalog,pg_available_extensions,VIEW,None,None,None,None,None,NO,NO,None
...,...,...,...,...,...,...,...,...,...,...,...,...
252,minestar,event,equipment_fact_2018_06_19,BASE TABLE,None,None,None,None,None,YES,NO,None
253,minestar,event,truck_production_state_2018_06_19,BASE TABLE,None,None,None,None,None,YES,NO,None
254,minestar,event,truck_activity_estimate_2018_06_19,BASE TABLE,None,None,None,None,None,YES,NO,None
255,minestar,event,truck_activity_event_2018_06_19,BASE TABLE,None,None,None,None,None,YES,NO,None
256,minestar,event,vehicle_work_status_2018_06_19,BASE TABLE,None,None,None,None,None,YES,NO,None
257,minestar,event,field_message_2018_07_03,BASE TABLE,None,None,None,None,None,YES,NO,None
258,minestar,event,equipment_fact_2018_07_03,BASE TABLE,None,None,None,None,None,YES,NO,None
259,minestar,event,truck_production_state_2018_07_03,BASE TABLE,None,None,None,None,None,YES,NO,None
260,minestar,event,field_message_2018_07_08,BASE TABLE,None,None,None,None,None,YES,NO,None
261,minestar,event,truck_activity_estimate_2018_07_03,BASE TABLE,None,None,None,None,None,YES,NO,None
262,minestar,event,truck_activity_event_2018_07_02,BASE TABLE,None,None,None,None,None,YES,NO,None
263,minestar,event,truck_activity_event_2018_07_03,BASE TABLE,None,None,None,None,None,YES,NO,None
264,minestar,event,vehicle_work_status_2018_07_03,BASE TABLE,None,None,None,None,None,YES,NO,None
265,minestar,event,equipment_fact_2018_07_08,BASE TABLE,None,None,None,None,None,YES,NO,None
266,minestar,event,field_message_2018_07_09,BASE TABLE,None,None,None,None,None,YES,NO,None
267,minestar,event,equipment_fact_2018_07_09,BASE TABLE,None,None,None,None,None,YES,NO,None
268,minestar,public,position_report,VIEW,None,None,None,None,None,NO,NO,None
269,minestar,event,field_message_2018_07_10,BASE TABLE,None,None,None,None,None,YES,NO,None
270,minestar,event,equipment_fact_2018_07_10,BASE TABLE,None,None,None,None,None,YES,NO,None
271,minestar,event,test,BASE TABLE,None,None,None,None,None,YES,NO,None
272,minestar,public,dipper_report,VIEW,None,None,None,None,None,NO,NO,None
273,minestar,model,person_history,BASE TABLE,None,None,None,None,None,YES,NO,None
274,minestar,public,v_equipment,VIEW,None,None,None,None,None,NO,NO,None
275,minestar,public,v_fm,VIEW,None,None,None,None,None,NO,NO,None
276,minestar,public,v_vimscycle,VIEW,None,None,None,None,None,NO,NO,None
277,minestar,public,position_report2,VIEW,None,None,None,None,None,NO,NO,None
278,minestar,public,dipper_report2,VIEW,None,None,None,None,None,NO,NO,None
279,minestar,public,load2,VIEW,None,None,None,None,None,NO,NO,None
280,minestar,public,v_vehicle_pose,VIEW,None,None,None,None,None,YES,NO,None
281,minestar,public,v_pose,VIEW,None,None,None,None,None,NO,NO,None

In [20]:
dbutils.db_query_as_df(conn_params, 'select * from information_schema.tables where table_name like %s', ['geo%'])

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,minestar,public,geography_columns,VIEW,None,None,None,None,None,NO,NO,None
1,minestar,public,geometry_columns,VIEW,None,None,None,None,None,YES,NO,None
2,minestar,model,geo_file_line,BASE TABLE,None,None,None,None,None,YES,NO,None
3,minestar,model,geo_file,BASE TABLE,None,None,None,None,None,YES,NO,None
4,minestar,model,geo_file_point,BASE TABLE,None,None,None,None,None,YES,NO,None
5,minestar,model,geo_file_polygon,BASE TABLE,None,None,None,None,None,YES,NO,None
6,minestar,model,geo_file_text,BASE TABLE,None,None,None,None,None,YES,NO,None